<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Студенты</title>
</head>
<body>
<h1>Список студентов</h1>
<div th:if="${not #lists.isEmpty(students)}">
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Возраст</th>
            <th>Тема диплома</th>
            <th></th>
        </tr>
        <tr th:each="student : ${students}">
            <td th:text="${student.id}"></td>
            <td th:text="${student.firstName}"></td>
            <td th:text="${student.lastName}"></td>
            <td th:text="${student.age}"></td>
            <td th:text="${student.diplomaTopic}"></td>
            <td>
                <a th:href="@{'/students/edit/' + ${student.id}}">Редактировать</a>
                |
                <a th:href="@{'/students/delete/' + ${student.id}}" onclick="return confirm('Вы уверены?')">Удалить</a>
            </td>
        </tr>
    </table>
</div>
<a href="/students/add">Добавить студента</a>
</body>
</html>
